@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@keyframes run {
  0% { left: 0;}
  100%{ left: 0;}
}
body{
  font-family: 'Noto Sans';
}
.main{
  height:1024px;
  width: 1600px;
  font-size: 40px;
  background-color: rgb(247, 247, 255);
  position: relative;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #313131 1px, rgba(0, 0, 0, 0) 1px);
}

.scroll-container{
  height:100vh;
  width:100vw;
}
.element {
  color: rgb(46, 46, 46);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  font-size: 20px;
  justify-content: center;
  transition: 0.3s;
  border: 1px solid rgba(134, 134, 134, 0.5);
}
.element:hover{
  cursor: pointer;
  box-shadow: 3px 3px #888888;
  z-index: 1;
}
.postdetail{
  z-index: 3;
  position: fixed;
  margin-left: 15%;
  margin-top: 5vh;
  height:80vh;
  border-radius: 40px;
  width: 70vw;
  opacity: 100;
  padding: 20px;
}
.postcover{
  position: fixed;
  z-index: 2;
  height:100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
}
.hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}
.shown{
  visibility: visible;
  opacity: 1;
  animation: fadein 0.2s;
}

.form{
  border: 1px solid rgba(61, 61, 61, 0.6);
  background-color: rgb(255, 251, 251);
  overflow-y: scroll;
  box-sizing: content-box;
}
.form::-webkit-scrollbar { 
  display: none;
}
.scroll-container::-webkit-scrollbar { 
  display: none;
}
.detail{
  overflow-y: scroll;  
}
.detail::-webkit-scrollbar { 
  display: none;
}
.dot{
  border:1px rgba(94, 94, 94,0.2) solid;
  height: 80px;
  width: 80px;
  border-radius: 20%;
  display: inline-block;
  margin: 5px;
  transition: 0.3s;
}
.selected{
  box-shadow:2px 2px rgb(0, 0, 0);
}
.dot:not(.selected):hover{
  box-shadow:2px 2px rgb(117, 117, 117);
}
.checkmark{
  height:30px;
  margin:0px 7px;
}
.element >p{
  margin:5px;
  text-align: center;
}
.titletext{
  display: flex;
  align-items: center;
}
.titletext >h1{
  margin: 10px 0px;
}
.commenttext{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.commentdiv{
  margin: 10px 0px;
}
.exitbutton{
  flex: 1 1 0;
}
.exitbutton > button{
  float:right;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  background-color: rgb(247, 247, 255);
  border: 1px solid rgb(175, 175, 175);
  cursor: pointer;
  font-size: larger;
  transition: 0.12s;
}
.exitbutton > button:hover{
  color: black;
  box-shadow: 1px 1px rgba(0, 0, 0,0.3);
}
.postformtitle{
  align-self: center;
  display: flex;
}
.sidebar{
  animation: run 0.2s;
  display: none;
  position: fixed;
  width: max(200px, 20%);
  height: 100vh;
  background-color: rgb(255, 253, 253);
  z-index: 1;
  padding: 0px 10px 5px 10px;
}
.sidebarbutton{
  height:40px;
  width:40px;
  top:20px;
  transition: 0.3s;
  background-color: inherit;
  border: none;
}
.hamburger{
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  height:40px;
  float:left;
  position: absolute;
  top:0px;
  left:0px;
}
.yeardetail{
  margin:20px 0px;
}
.yeardetail{
  font-size: 25px;
}
.yeardetail>p{
  font-size: 20px;
  margin: 10px 10px 0px 10px;
  cursor: pointer;
  padding: 5px;
}
.chosenmonth{
  background-color: rgb(255, 238, 238);
  border-radius:10px;
}
.username{
  display: flex;
  align-items: center;
}
.username>p{
  font-weight: bold;
  margin: 5px;
}
.commenttext > p{
  margin: 5px
}
.verified{
    position: relative;
    display: inline-block;
}
.verified .hiddeninfo {
  visibility: hidden;
  width: 120px;
  background-color: rgb(255, 255, 255);
  color: rgb(15, 15, 15);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top:0px;
  left:84%;
  z-index: 1;
  opacity: 0;
  transition: opacity .4s;
}

.verified:hover .hiddeninfo{
  visibility: visible;
  opacity: 1;
}
.adminform{
  position:fixed;
  z-index: 2;
  margin-top:17px;
  margin-left: calc(100vw - 170px);
}
.adminform>input{
  border: none;
  border-bottom: black 2px solid;
  border-radius: 4px;
}
.adminform>input:focus{
  outline-width: 0;
}
.login{
  position: absolute;
  height:40px;
  width: 40px;
  background-color: inherit;
  border-radius: 5px;
  right: -147px;
  top:3px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.login:hover{
  cursor: pointer;
}
.login>img{
  position: absolute;
  left:-0px;
  bottom: 0;
  height: 40px;
  background-color: white;
}
.delete >img{
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
.posttitleinp{
  width: 60%;
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: larger;
}

.postvalinp {
  font-family: inherit;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}
.submitpost{
  float:right;
  font-size: large;
  cursor: pointer;
  width:20%;
  padding: 10px 10px;
   border-radius: 10px;
   border: 1px solid black;
   background-color: white;
   transition: 0.3s;
}
.submitpost:hover{
  box-shadow: 4px 4px rgb(117, 117, 117);
}
.mainblock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  width:100vw;
  background-color: rgb(247, 247, 255);
}
.mainblock >input{
  text-align: center;
}
.loginput{
  -webkit-text-security: circle;
  font-size: 30px;
  transition: 0.3s;
  text-align: left;
}
.passinput{
  cursor: pointer;
  width:20%;
  margin-top:20px;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  border:1px solid rgba(0, 0, 0,0.6);
  transition:0.3s;
  background-color: rgba(255, 255, 255, 0.8);
}
.passinput:hover{
  box-shadow: 2px 2px rgba(68, 68, 68,0.4);
}
